.imm{
    background-image: url('123123.jpg');
}
.transcript{
    background-image:url('transcr.png');
}

.imgpo{
    background-image: url('proke.png');
}
.cpy{
    background-image: url('cpy.png');
}

.weatherApp{
    background-image: url('weatherApp.png');
}

.meals{
    background-image: url('mealDB.png');
}

.blogs{
    background-image: url('blog.png');
}